*{
	box-sizing: border-box;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	height: 100%;
	position: fixed;
	background-color: lightgrey;

	width:25%;

}
li a{
	text-decoration: none;
	color: black;
	display: block;
	margin-bottom:40px;
	font-size: 30px;

}
.Home{
     padding:5px;
   
}

section{
	margin-left: 25%;
	width:75%;
}

body{
	margin:0;
}
.img1{
	border-radius: 100%;
	margin-left: 300px;
	
}
.About{
    text-align:center;
    font-size:20px;
}

p.para1::first-letter{
	color:red;
	font-size:100px;
}
.Contact{
	text-align: center;
	margin-top:-180px;
}
input{
	width:30%;
	margin-bottom:40px;
	height: 30px;
}

.button:active{
	background-color:grey;
}


li a:hover{
	background-color: black;
	color:white;
}
 li a:active{
 	background-color:green;
 	color:white;
 }

